*{
    margin: 0px;
    padding:0px;
}
    body{
        border: solid hidden;
        height: 550px;
        background-image: url(biryanir.jpg);
        background-repeat: no-repeat;
        background-size: 1370px,70px;
    }
    form{
        border: solid hidden;
        margin-left: 15px;
        margin-top: 5px;
        width:220px;
        color:rgb(0, 0, 0) ;
        background-color: rgb(235, 236, 233);
    }
    button{
        height: 25px;
        width: 60px;
        background-color: whitesmoke;
        color: black;
        font-size: 12px;
        font-weight: bold;
        border-radius: 10px;
    }
    p{
        color: black;
        font-size: 15px;
    }
    p a{
        color: black;
    }

